.clock {
  position: relative;
  width: 100vh;
  height: 100vh;
  border-radius: 100vh;
  border: solid hsl(0, 0%, 0%) 5px;
}

.clock__hand {
  position: absolute;
  top: 50vh;
  left: 50vh;
}

.clock__hand::before {
  content: '';
  background-color: hsl(0, 0%, 0%);
  position: absolute;
  bottom: 0;
  left: -2.5px;
  height: 40vh;
  width: 5px;
}

.clock__hand--hours::before {
  height: 30vh;
}

.clock__hand--minutes::before {
  height: 40vh;
}

.clock__hand--seconds::before {
  width: 2px;
  background-color: hsl(0, 40%, 80%);
}

